<mat-drawer-container autosize>

    <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">

        <div class="logo-container">
            <img src="assets/imgs/logo.png" alt="LOGO">
            <span class="mr-tp-5"><span class="we-letter">We</span> connect them</span>
        </div>

        <ul class="list-items">
            <li routerLink="dashboard.component.html">
                <mat-icon>fact_check</mat-icon>Dashboard
            </li>
            <li routerLink="user.component.html">
                <mat-icon>perm_identity</mat-icon>User
            </li>
        </ul>

    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <mat-icon (click)="drawer.toggle()" class="menu-icon">menu</mat-icon>
                <span>Simple CRM</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>


</mat-drawer-container>