<mat-card class="user-details-header">
    <img src="assets/imgs/profile-img.png">
    <div class="user-details">
        <h2>{{ user.firstName }} {{ user.lastName }}</h2><br> {{ user.email }}
    </div>
</mat-card>

<mat-card class="mt-16">
    <button mat-icon-button class="top-right-corner">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-card-title>Adress</mat-card-title>
    <mat-card-content>
        {{ user.street }} <br> {{ user.city }} {{ user.zipCode }}
    </mat-card-content>
</mat-card>