<mat-card>
    <table class="table-user">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Adress</th>
        </tr>
        <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.userId]">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.street }}</td>
        </tr>

    </table>
</mat-card>



<div class="add-btn-container">
    <button (click)="openDialog()" mat-fab color="primary" matTooltip="Add user">
    <mat-icon>add</mat-icon>
  </button>
</div>