<mat-card>
    <table class="table-user">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Adress</th>
        </tr>
        <tr>
            <td>Cagri Avsar</td>
            <td>c.avsar@hotmail.com</td>
            <td>Am Pistorhof 8</td>
        </tr>

        <tr>
            <td>Ali Ahmad</td>
            <td>ali-ahmad@gmail.de</td>
            <td>Am Kieler Damm 18</td>
        </tr>
    </table>
</mat-card>



<div class="add-btn-container">
    <button (click)="openDialog()" mat-fab color="primary" matTooltip="Add user">
    <mat-icon>add</mat-icon>
  </button>
</div>